*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.ledger-regular {
    font-family: "Ledger", serif;
    font-weight: 400;
    font-style: normal;
  }

html {
    font-family: "Ledger", sans-serif;
}
body{
    aspect-ratio: 9 / 16;
    height:100vh;
    background-color: #ffe142;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border: 10px solid black;
    border-radius: 20px;
}
button {
    
}
img{
    height: 50px;
    width: 50px;
}
.picture{
    height: 300px;
    width: 300px;
    border: 0px solid black;
    visibility: hidden;
}
h2{
    font-weight: 500;
    font-size: 8rem;
}
.temp {
    width: 500px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
.tempResults{
    display: flex;
    justify-content: center;
    width: 80%;
}
.search{
    display: flex;
    align-items: center;
}
.search input {
    align-self: center;
    font-size: 1.5rem;
    height: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ffe142;
    
}
.search button {
    background-color: #ffe142;
    border-radius: 20px;
    border-color: transparent;
}

.tempSwitchers button {

    border-color: transparent;
    color: grey;
    font-size: 2rem;
    background-color: #ffe142;
    
}
.tempSwitchers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.tempSwitchers button:disabled{
    color: black;
}
.detailsContainer{
    display: flex;
    gap: 30px;
    background-color: black;
    border-radius: 30px;
    justify-content: center;
    padding: 20px;
    width: 500px;
    height: 200px;
    margin: 20px;
}
.details {
    justify-content: space-evenly;
    display: flex;
    gap: 30px;
    width: 100%;
}
.detailsButtons {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.detailsButtons button {

    border-color: transparent;
    font-size: 2rem;
    color: #ffe14250;
    background-color: black;
    
}
.detailsButtons button:disabled{
    color: #ffe142;
}
.summary{
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 350px;
    flex-direction: column;
}
.details div{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffe142;
}
.details img {
    margin: 20px 00px;
}
.date{
    background-color: black;
    color:white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.icon{
    filter: invert(94%) sepia(32%) saturate(1870%) hue-rotate(322deg) brightness(107%) contrast(103%);


}